{% extends 'base.html' %}

{% block head %}
{% with thread_id, thread_subject, thread_posts = thread %}
<title>{{thread_subject}}</title>
{% endwith %}
{% endblock head %}

{% block content %}
<div class="flex justify-center align-center py-20">
    <div class="flex flex-col w-11/12 xl:w-6/12">
        {% with thread_id, thread_subject, thread_posts = thread %}
        <div class="flex pl-5 pr-10 py-4 bg-gray-700 rounded-t-lg text-gray-100">
            {{thread_subject}}
        </div>

        <div class="flex flex-col space-y-2">
            {% if posts %}
            {% for post_id, post_text, post_time, name, avatar_url, user_id in posts %}
            <div class="flex pl-5 pr-10 pt-2 pb-10 bg-white space-x-10">

                <ul class="w-32 space-y-2">
                    <li class="text-center">{{name}}</li>
                    <li><img src="{{avatar_url}}"></li>
                </ul>


                <ul class="w-9/12 space-y-3">
                    <li>{{post_time}}</li>
                    <li class="break-all">{{post_text}}</li>
                </ul>

            </div>
            {% endfor %}

            <div class="bg-white mt-5 py-2 pl-5 pr-10">
                Pages: {% for p in range(1, pages+1) %}
                {% if p == page %}
                <a class="underline" href="{{url_for('forum.thread', thread_id=thread_id, page=p)}}">{{p}}</a>
                {% else %}
                <a href="{{url_for('forum.thread', thread_id=thread_id, page=p)}}">{{p}}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <form method="POST" action="{{url_for('forum.make_post', thread_id=thread_id)}}" class="flex flex-col mt-4">
            <textarea class="pl-5 py-2" name="post_text" cols="40" rows="5" minlength="10" maxlength="600"
                required></textarea>

            <button
                class="flex space-x-2 mt-5 bg-gray-700 px-5 py-2 max-w-fit rounded-lg hover:bg-gray-800 text-gray-100"
                type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
                <p>Post</p>
            </button>

        </form>


        {% endwith %}
    </div>
</div>
{% endblock content %}